<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lcd.adtfitnessapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ADTFitnessApp">
        <activity
            android:name=".CongratulationActivity"
            android:exported="false"
            android:parentActivityName=".ExerciseDetailActivity"/>
        <activity
            android:name=".BMIActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".secondBMI"
            android:exported="false"
            android:parentActivityName=".BMIActivity" />
        <activity
            android:name=".ExerciseDetailActivity"
            android:exported="false"/>
        <activity
            android:name=".WorkoutActivity"
            android:exported="false" />

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
    </application>

</manifest>